@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
*{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
section{
 padding: 2rem 9% ;
}
section:nth-child(evev){
    background-color: #eee;
}   
.bnt{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #eee;
    background-color: #192a56;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
} 
.bnt:hover{
    background-color: #27ae60;
    letter-spacing: 0.1rem;
}



header{
    position: fixed;
    top: 0; left: 0;right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    z-index: 1000;
    background-color: #fff  ;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
header .logo{
    color: #192a56;
    font-size: 2.5rem;
    font-weight: bolder;

}
header .logo i{
    color:#27ae60  ;

}
header .navbar a{
    font-size: 1.7rem;
    border-radius: 0.5rem;
   padding: 0.5rem 1.5rem;
   color: #192a56; 
}
header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background-color: #27ae60;
}

header .icons i,
header .icons a{
cursor: pointer;
margin-left:0.5rem;
height: 4.5rem;
line-height: 4.5rem;
width: 4.5rem;
text-align: center;
font-size: 1.7rem;
color: #192a56;
border-radius: 50%;
background-color:#eee ;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
background-color: #27ae60;
transform: rotate(360deg);
}
header .icons #menu-bars{
    display: none;
}
header .icons #heart:hover{
color: red;
background-color: #fff;
}
#search-form{
        position: fixed;
        top:-110%;
        left:0;
        height: 100%;
        width: 100%;
        z-index: 1004;
        background-color: rgba(0, 0, 0 ,.8);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem; 
    }


#search-form.active{
    top:0;
} 


#search-form #search-box{
    width: 50rem;
    border-bottom: 0.1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background:none ;
}
#search-form #search-box::placeholder{
    color:#eee;
}
#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
#search-form  label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}
#search-form  label:hover{
    color: black;
}
#search-form #close{
    position: absolute;
    color: #fff;
    font-size: 3.5rem;
    top: 2rem;right: 3rem;
    
}
#search-form #close:hover{
    color: black;
}
.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}
.home .home-slider .slide .content{
    flex: 1 1 45rem;
}
.home .home-slider .slide .image{
    flex: 1 1 45rem;
}
.home .home-slider .slide .image img{
    width: 100%;
}
.home .home-slider .slide .content span{
    color: #27ae60;
    font-size: 2.5rem;
}
.home .home-slider .slide .content h3{
    color: #192a56;
    font-size: 7rem;
}
.home .home-slider .slide .content p{
    color:#192a56;
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}
#dishes .sup-heading{
    text-align: center;
    color: #27ae60;
    font-size: 2rem;
    padding-top: 1rem;
}
#dishes .heading{
    text-align: center;
    color:#192a56;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
#dishes .card-title{
    color:#192a56;
    font-size: 2rem;

}
#dishes p{
    color:#192a56;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    line-height: 1.5;

}

#dishes span{
    color: #27ae60;
    font-weight: bolder;
    font-size: 2rem;
}
#dishes #stars{
    padding: 1rem 0;
}
#dishes #stars i{
    color: #27ae60;
    font-size: 1.5rem;
}
#dishes #stars i:hover{
    color:#192a56;
}
#dishes .but{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.4rem;
    color: #eee;
    background-color: #192a56;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
}
#dishes .but:hover{
    background-color: #27ae60;
    letter-spacing: 0.1rem; 
}
#about .sup-heading{
    text-align: center;
    color: #27ae60;
    font-size: 2rem;
    padding-top: 1rem;
}
#about .heading{
    text-align: center;
    color:#192a56;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
#about #content{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
#about #img{
    width: 600px;
}
#about #h{
    color: #192a56;
    font-size: 3.5rem;
    padding: 0.5rem 0   ;
}
#about #caption{
    color:#192a56;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    line-height: 2;
}
#about .but{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.4rem;
    color: #eee;
    background-color: #192a56;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
}
#about .but:hover{
    background-color: #27ae60;
    letter-spacing: 0.1rem; 
}
#about #bb{
    
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.4rem;
    color:#192a56;
    background-color: #fff  ;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
    
}
#about #bb:hover{
    background-color: #27ae60;
    letter-spacing: 0.1rem; 
}
#order{
    background-color: lightgray;
}
#order .sup-heading{
    text-align: center;
    color: #27ae60;
    font-size: 2rem;
    padding-top: 1rem;
}
#order .heading{
    text-align: center;
    color:#192a56;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase; 
}
#order .form-check-input{
    transform: scale(1.5);
    
}
#order .form-select{
    height: 50px;
}
#order .form-label{
    font-size: 20px;
}
#order .form-check-label{
    font-size: 15px;
}
#order .form-control{
    height: 50px;
}

#order #but{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.4rem;
    color: #eee;
    background-color: #192a56;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem
}
#order #but:hover{
    background-color: #27ae60;
    letter-spacing: 0.1rem; 
}

.menu .sup-heading{
    text-align: center;
    color: #27ae60;
    font-size: 2rem;
    padding-top: 1rem;
}
.menu .heading{
    text-align: center;
    color:#192a56;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.menu .card-title{
    color:#192a56;
    font-size: 2rem;
    line-height: 1.5; 
    font-weight: bolder;
    margin-left: 95px;

}
.menu #stars {
    color: #27ae60;
    font-size: 1.5rem;
}
.menu #stars{
    margin-left: 100px;
}
.menu #stars:hover{   
    color:#192a56;
}
.menu #but{
    display: inline-block;
    font-size: 1.4rem;
    color: #eee;
    background-color: #192a56;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
    margin-left: 95px;
}
.menu #but:hover{
    background-color: #27ae60;
    letter-spacing: 0.1rem;
}
.menu span{
    color: #27ae60;
    font-weight: bolder;
    font-size: 2rem;
}
.menu{
    background-color: lightgray;
}
.menu .card{
box-shadow:  0 .5rem 1.5rem rgba(0,0,0,.1);

}
.menu .card:hover{
    transform:scale(0.95);
    
    background-color:lightgray;
}

.footer{
    background-color:#192a56;
    color: white;
    text-decoration: none;
    
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3{
    padding: .5rem 0;
    font-size:2rem;
    cursor:default;
    
}
.footer .box-container .box h3:hover{
    transform:scale(0.95);
}

.footer .box-container .box a{
    display: block;
    
    padding: .5rem 0;
    font-size:1.5rem;
    color: #eee;
    text-decoration: none;
    
}
.footer .box-container .box a:hover{
    color: lightgray;
    text-decoration: underline;
    
}
.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0, 0, 0 ,.1) ;
    font-size: 1.8rem;
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
} 